<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/public/css/search.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&family=Shippori+Antique+B1&display=swap" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js" charset="utf-8"></script>
    <title>Rate My Bronco</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href='{{ url_for("landing") }}'>Rate My Bronco</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href='{{ url_for("search") }}'>Search Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{ url_for("add_rating") }}'>Add Ratings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row no-gutters">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="left-title">
          <div class="title">
            <h1>Search Ratings</h1>
          </div>
          <div class="input-group rounded">
            <form action='{{ url_for("search") }}' method="get">
              <input
                name="query"
                type="text"
                class="form-control rounded"
                placeholder="Search Professor or Course"
                aria-label="Search"
                aria-describedby="search-addon"
              />
            </form>
          </div>
        </div>
        {% if cards %}
          {% for value in cards %}
          <a href='{{ url_for("professor_page")}}?name={{cards[value]["ProfessorName"]}}&course={{cards[value]["CourseName"]}}'>
            <div class="container">
              <h3>{{cards[value]['ProfessorName']}}</h3>
              <h4>{{cards[value]['CourseName']}}</h4>
              <h4>{{cards[value]['CourseDesc']}}</h4>
              <h4>{{cards[value]['OverallRating']}}</h4>
            </div>
          </a>
          {% endfor %}

        {% else %}
        <div class="container">
          <h3>No Results</h3>
        </div>
        {% endif %}
      </div>
    </div>

    <div id="footer"></div>
    <script type="text/babel">
      function Footer() {
        const currentYear = new Date().getFullYear();
        return (
          <div className=" footer-white text-center text-black">
            <footer>
              <p className="about-us">
                {" "}
                <a href='{{ url_for("aboutus") }}'> About Us </a>
              </p>
              <p className="footer-copyright"> Copyright © {currentYear} Rate My Bronco </p>
            </footer>
          </div>
        );
      }

      ReactDOM.render(<Footer />, document.getElementById("footer"));
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
